@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Lato');
/*UNIVERSAL*/

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url("../img/petitechapel.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

ul {
    list-style-type: none;
    display: inline;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #6d6a6a;
}


/*UNIVERSAL ENDS*/

#content {
    height: calc(100% - 150px);
}
/*HEADER*/

header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

span>a {
    font-family: 'Cedarville Cursive', cursive;
    text-decoration: none;
    font-size: 30px;
}

li {
    display: inline;
    list-style-type: none;
    padding: 8px;
    
}

#nav-tabs {
    float: right;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
}

/*HEADER ENDS*/

/*HERO*/

h1 {
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 70px;
    border-bottom: solid #000 5px;
}

/*HERO ENDS*/

/*SIDEBAR*/

aside {
    height: 400px;
    width: 370px;
    float: right;
    border: solid #f9f9de 5px;
    border-radius: 5px;
    margin-right: 5px;
    background-image: url("../img/bulb.jpg");
    background-size: cover;
    background-position: center;
}

h3 {
    padding-right: 5px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25px;
    color: #fff;
}

button {
    padding: 5%;
    background-color: #f9f9de;
    color: #000;
    font-size: 15px;
    text-align: center;
    position: relative;
    right: 0px;
    top: 150px;
    left: 117px;
    
}


#shows li {
    position: relative;
    bottom: 23px;
    display: block;
    color: #fff;
    font-family: 'Lato' , sans-serif;
}

button>a {
    color: #656663;
    font-family: 'Lato' , sans-serif;
}

button>a:hover {
    color: #000;
}

/*SIDEBAR ENDS*/

/*MAIN*/

#ep-header {
   font-family: 'Cedarville Cursive' , cursive;
   font-size: 50px;
   float: left;
   border: none;
   position: relative;
   bottom: 75px;
   padding: 5px;
}

p {
    float: left;
    clear: both;
    width: 31%;
    position: absolute;
    top: 210px;
    padding: 5px;
    font-family: 'Lato' , sans-serif;
}

audio {
    float: left;
    clear: both;
    padding-top: 20px;
}

/*MAIN ENDS*/


/*FOOTER*/

footer {
    background-color: #efeee1;
    color: #656663;
    height: 150px;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    top: 20px;
    clear: both;
}

.fa {
    font-size: 40px;
    padding: 0 12px;
}



#social-media {
    text-align: center;
    padding-top: 24px;
}

#copyright {
    text-align: center;
    padding-top: 65px;
}
/*FOOTER ENDS*/